::-webkit-scrollbar{
  display: none;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
/* ============= Animation ========= */
.background {
  background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}

/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #607EAA;
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
  
  text-decoration: none;
  transform: skew(15deg);
}
/* Logo */
.logo{
  width: 184px;
  height: 35px;
  background: #EFEEF5;
  margin: 40px 63px;
  float: left;
  
}
.logo span{
  color: #591BC5;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content{
  margin-top:25%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #EFEEF5;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}
.header-content button:hover{
  border-radius: 0;
}

.div{
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
border: 0;
background-image: url('https://cdn.pixabay.com/photo/2019/06/27/06/49/plane-4301615_1280.png');
}
.divs{ /**풀스크린 적용하기전 예비 div**/
  width: 100%;
height: 100vh;
margin: 0;
padding: 0;
border: 0;
background-color: #591BC5;
color: #FFF;
font-size: 200px;
}
#div1{
  display: flex;
  justify-content: center;
height: 100px;
width: 400px;
background-color: white;
color: black;
line-height: 100px;
margin-left: 50px;
border:solid #0F3D3E;
border-style: double;
}
#div2{
  display: flex;
  justify-content: center;
  color: black;
  height: 100px;
  width: 400px;
  float: right;
  background-color: white;
  margin-top: 50px;
  line-height: 100px;
  margin-right: 50px;
  border:solid #0F3D3E;
  border-style: double;
}
#div3{
  display: flex;
  justify-content: center;
  color: black;
  height: 100px;
  width: 400px;
  float: right;
  background-color: white;
  margin-top: 200px;
  line-height: 100px;
  float: left;
  margin-left: 50px;
  border:solid #0F3D3E;
  border-style: double;
}
#div4{
  display: flex;
  justify-content: center;
  color: black;
  height: 100px;
  width: 400px;
  float: right;
  background-color: white;
  margin-top: 200px;
  line-height: 100px;
  margin-right: 50px;
  border:solid #0F3D3E;
  border-style: double;
}
.iconmouse {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 30px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

@keyframes Mouse_act {
  0% {
      transform: translateY(5px);
  }

  50% {
      transform: translateY(-5px);
  }

  100% {
      transform: translateY(5px);
  }

}

.iconmouse::before {
  content: 'SCROLL';
  display: block;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -29px;
  width: 60px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0px;
  font-weight: 600;
}

.iconmouse .ball {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  animation: Mouse_act 1s ease-out infinite;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

